<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Arm joints -->
    <joint name="shoulder_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="shoulder_pitch">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="elbow_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="elbow_pitch">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="wrist_roll">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="wrist_pitch">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <!-- Gripper joints -->
    <joint name="fingers">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="thumb">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

  </ros2_control>

</robot>